<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %><%=subtitle%></h1>
    <a href="http://www.cs.sonoma.edu/~haderman/">CS355</a>
<br/><a href="/staticfile.html">Relative Link Example</a>
    <br/><a href="/resume?first_name=Nicholas&last_name=Ivanoff&major=Computer Science">Resume</a>
<br/><a href="http://localhost:3000/staticfile.html">Absolute Link Example</a>
<br/><a href="/template_example?first_name=Nicholas&last_name=Ivanoff">Template Example</a>
    <h2> Project 2 Links</h2>
    <br/><a href="http://localhost:3000/school/all">List of Schools</a>
    <br/><a href="http://localhost:3000/student/all">List of Students</a>
    <br/><a href="http://localhost:3000/allClasses/all">List of Classes</a>
    <br/><a href="http://localhost:3000/address/all">List of Addresses</a>
    <br/><a href="http://localhost:3000/school/alphaList">Alphabetical School List</a>
    <br/><a href="http://localhost:3000/allClasses/classes_offered">Spring 2020 Course List</a>
    <br/><a href="http://localhost:3000/student/studentClasses">List of Future Professors and Classes</a>
    <br/><a href="http://localhost:3000/allClasses/not_cs_classes">List of All Non-Computer Science Classes</a>
  </body>
</html>
