<!DOCTYPE html>
<html>
<head>
    <title>Student - Add</title>
</head>
<body>
<h1>Add New Student</h1>
<form action="/student/insert" method="get">
    Student Number: <input name="student_number" type="text"/>
    First Name: <input name="first_name" type="text"/>
    Last Name: <input name="last_name" type="text"/>
    <br />
    <input type="submit"/>

</form>
</body>
</html>