<!DOCTYPE html>
<html>
<head>
    <title>Classes - Add</title>
</head>
<body>
<h1>Add New Class</h1>
<form action="/allClasses/insert" method="get">
    Class Name: <input name="className" type="text"/>
    Grade: <input name="grade" type="text"/>
    Class Completed: <input name = "taken" type="checkbox" name="class_id"/>
    <br/>
    <input type="submit"/>

</form>
</body>
</html>